.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
}
.formulario h2{
    text-align: center;
    margin-bottom: 20px;
}
/*nonbre del dato ensima del input*/
.formulario label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.formulario input,
.formulario textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: blanchedalmond;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario button:hover{
    background-color: #c43a3a;
}